<nav>
    <div class="logo">
        <a href="/"><h1>Time Traker</h1></a>
        <p>A time log tracker</p>
    </div>
    <ul class="nav-list">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/view-requests">Requests</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>