<nav>
    <div>
        <a href="/"><h1>Time Tracker</h1></a>
        <p>A time log tracker</p>
    </div>
    <ul class="nav">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Requests</a></li>
        <li><a href="/">Account</a></li>
    </ul>
</nav>