<nav>
    <div class="logo">
        <a href="/"><h1>Time Traker</h1></a>
        <p>A time log tracker</p>
    </div>
    <ul class="nav-list">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/">Requests</a></li>
        <li><a href="/">Account</a></li>
    </ul>
</nav>