<nav>
    <div class="logo">
        <a href="/"><span>Time Traker</span></a>
        <p>A time log tracker</p>
    </div>
    <ul class="nav-list">        
        <% if (locals.userId) { %>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/dashboard/requests">Requests</a></li>
            <li><a href="/dashboard/account">Account</a></li>
            <li><a href="/account/logout">Logout</a></li>
        <% } else { %>
            <li id="today"></li>
        <% } %>
    </ul>
</nav>