<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">
        <h2>Oops! That page doesn't exist. :(</h2>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>