<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>
    <!-- End of nav -->

    <div class="content-container">
        <h2>Oops! That page doesn't exist. :(</h2>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- End of footer -->
</body>
</html>