<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>
    <!-- End of nav -->

    <div class="content-container">
        <h2><a href="/dashboard">&#8592; Back to Dashboard</a></h2>
        <ul class="no-list-style">
            <li class="list-panel"><a id="emp-info-btn" href="#">View My Employee Info</a></li>
        </ul>
    
        <div class="employee-info"></div>
    </div>

     <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- End of footer -->
    <script>
        const btn = document.querySelector("#emp-info-btn");
        let container = document.querySelector(".employee-info");
        btn.onclick = () => {
            container.innerHTML = "<p>Loading...</p>"
            event.preventDefault();
            let userId = '<%-locals.userId %>'
            fetch(`/get-account-info/${userId}`)
                .then((response) => response.json())
                .then(result => {
                    container.innerHTML = `
                    <h3>${result.first_name} ${result.last_name}</h3>
                    <p>Employee ID: ${result.employee_id} </p>
                    <p>Start date: ${result.start_date.substring(0, 10)} </p>
                    <p>Employee email: ${result.emp_email} %></p>
                    `;
                }).catch((err) => {
                    console.log("Error fetching data: ", err);
                });
        };
    </script>
</body>
</html>