<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <h2>What do you want to do?</h2>
    <ul>
        <li><a href="/">Login/Logout</a></li>
        <li><a href="/requests">Go to my account</a></li>
    </ul>


    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>