<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">
        <div class="dashboard">
            <h2>Welcome back, <%- locals.userName %>!</h2>
            <h4>What do you want to do?</h4>
            <ul>
                <a href="/dashboard/make-request"><li>Submit a login/logout request</li></a>
                <a href="/dashboard/requests"><li>View my requests</li></a>
                <a href="/dashboard/account"><li>Go to my account</li></a>
            </ul>
        </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>