<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">
        <a href="/dashboard"><h2>Go to my Dashboard > </h2></a>

        <form action="/home/login" class="login-form" method="POST">
            <% if (locals.message) { %>
                <p>
                    <%- locals.message %>
                </p>
            <% } %>
            <h1>Log In</h1>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" name="submit" value="LOGIN">
            <hr>
            <p>No account yet?</p>
            <a href="/home/create-account">CREATE ACCOUNT</a>
        </form>
    </div>


    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>