<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>

    <!-- Main content -->
    <div class="content-container">
        <ul>
            <li><a class="get-requests-btn" href="/get-requests">View All Requests</a></li>
        </ul>
        
        <ul class="requests">

        </ul>
    
    </div>
    <!-- End of main content -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- End of footer -->

    <script>
        const btn = document.querySelector(".get-requests-btn");
        let container = document.querySelector(".requests");
        btn.onclick = () => {
            event.preventDefault();
            container.innerHTML = "<p>Loading requests...</p>"
            fetch('/get-requests')
                .then((response) => response.json())
                .then(result => {
                    // console.log(result);
                    container.innerHTML = ""
                    for(var i = 0; i < result.length; i++) {
                        var request = document.createElement('li');
                        request.innerHTML = `
                        <h2>${result[i].req_type.toUpperCase()}</h2>
                        <h3>Request for: ${result[i].req_date}</h3>
                        <p>Log entry: ${result[i].req_time_entry} ${result[i].req_time_type}</p>
                        `;
                        if (result[i].is_pending) {
                            request.innerHTML += `<p>Pending: YES</p>`;
                        } else {
                            request.innerHTML += `<p>Pending: NO</p>`;
                        }
                        container.appendChild(request);
                    };
                }).catch((err) => {
                    console.log("Error fetching data: ", err);
                });
        };
    </script>
</body>
</html>