<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">
        <h2>Note:</h2>
        <p>Please fill out the form carefully.</p>
        <form class="request-form">
            <h2>Request submitted.</h2>
        </form>
    </div>


    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>