<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <!-- Nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="content-container">
        <h2><a href="/dashboard">&#8592; Back to Dashboard</a></h2>
        <form class="request-form">
            <h2><%- locals.message %></h2>
        </form>
    </div>


    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
</body>
</html>