body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, p {
    margin: 0px;
}
.content-container {
    background-color: #fafafa;
    padding: 20px 50px;
    min-height: 440px;
}
input {
    border-radius: 5px;
    border: 1px solid rgb(87, 87, 87);
}
.center-align {
    text-align: center;
}
.flex {
    display: flex;
}
.message {
    color: red;
}
.hidden {
    display: none;
}
.no-list-style {
    list-style: none;
    padding: 20px;
}
#note {
    color: red;
    font-size: 0.8em;
}
/*---- HEADER NAV ----*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.nav-list {
    display: flex;
    list-style: none;
    padding: 0px;
}
.nav-list li {
    padding: 5px 10px;
}
.nav-list li a {
    color: #562b8b;
}
.logo h1 {
    font-family: 'Francois One', sans-serif;
    font-size: 3em;
    margin: 0px;
}
/*---- LOGIN FORM -----*/
.login-form {
    width: 40%;
    margin: 100px auto;
    text-align: center;
}
.login-form input {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}
/*----- DASHBOARD -----*/
.dashboard ul {
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto 50%;
    padding: 50px;
    width: 70%;
    margin: auto;
}
.dashboard li {
    background-color: #562b8b;
    padding: 40px;
    text-align: center;
    color: white;
}
.dashboard li:hover {
    background-color: #7437be;
}

/*------ Request form -----*/
.request-form {
    width: 30%;
    margin: auto;
    border: 1px solid black;
    padding: 20px 40px;
    background-color: white;
}
.request-form input {
    padding: 10px;
    margin: 5px 0px;
    font-family: 'Open Sans', sans-serif;
}
.request-form .date-input input,  .request-form select{
    width: 100%;
}
.request-form .time-input input[type="text"] {
    width: 60px;
    font-size: 1.1em;
}
.request-form .time-input input[type="radio"] {
    width: 20px;
    height: 20px;
    margin: 15px 3px 0 10px;
}
.request-form .time-input label {
    margin: 13px 0px;
}
.request-form .time-input p {
    font-size: 2em;
    margin: 0px 5px;
}
.request-form select {
    border-radius: 5px;
    border: 1px solid rgb(87, 87, 87);
    padding: 10px;
}
.request-form input[type="submit"] {
    background-color: #562b8b;
    padding: 15px 25px;
    color: white;
    margin: 20px auto;
    cursor: pointer;
}

/*------- Requests -------*/
.list-panel {
    background-color: white;
    border: 1px solid grey;
    padding: 20px 20px;
    color: black;
    width: 100%;
}
.list-panel a {
    margin-bottom: 20px;
}
.requests li {
    padding: 10px;
    border-bottom: 1px solid grey;
}

/*------- FOOTER ------*/
footer {
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
    color:#777777;
}

@media only screen and (min-width: 37.5em){
    .login-form input {
        width: 60%;
    }
}